################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JenkinsDotNetCore/bin/Debug/net5.0
/JenkinsDotNetCore/obj
/JenkinsDotNetCore/.vs/JenkinsDotNetCore
/.vs
/JenkinsDotNetCore/bin/Release/net5.0
